fastapi
uvicorn
requests
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
openai
googlemaps
python-jose[cryptography]
python-multipart
email-validator
passlib[bcrypt]==1.7.4
bcrypt>=4.0.0
resend
email-validator
resend
python-multipart
pydantic[email]